@import "./variables";
@import "./mixins.scss";

.about-section {
  background: #00b0ff;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 115px;
  @include responsive(tablet) {
    padding: 80px 0px;
  }
  @include responsive(mobile) {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .about-container {
    width: 1100px;
    margin: 0 auto;
    @include responsive(tablet) {
      width: 90%;
    }

    .socialMedia {
      display: flex;
      justify-content: space-evenly;
      margin-top: 2rem;
      img {
        width: 140px;
        cursor: pointer;
      }
    }
    .skillsAndImage {
      display: flex;
      justify-content: space-between;

      @include responsive(mobile) {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
      }
      img {
        width: 350px;
        @include responsive(tablet) {
          width: 360px;
          height: auto;
        }
        @include responsive(mobile) {
          width: 100%;
        }
      }
      h1 {
        border-radius: 10px;
        color: #ffffff;
        font-size: 40px;
        font-family: $strong;
        padding: 30px 30px;
        line-height: 60px;
        @include responsive(tablet) {
          text-align: center;
          font-size: 25px;
          line-height: 40px;
        }
        @include responsive(mobile) {
          text-align: center;
          font-size: 18px;
          line-height: 25px;
        }
        .logo {
          margin-left: 10px;
          font-size: 60px;
          @include responsive(mobile) {
            font-size: 30px;
          }
        }
        span {
          color: #ff6584;
        }
      }
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px;
      @include responsive(tablet) {
        grid-template-columns: 1fr;
      }
      img {
        width: 520px;
        @include responsive(mobile) {
          width: 95%;
        }
      }
      div {
        align-self: center;
        width: 100%;
        @include responsive(tablet) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 20px;
        }
        @include responsive(mobile) {
          padding: 5px;
        }
      }
      p {
        color: #ffffff;
        font-family: $light;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 20px;
        text-align: right;
        line-height: 22px;
        @include responsive(tablet) {
          text-align: center;
        }
        @include responsive(mobile) {
          text-align: center;
          font-size: 12px;
        }
      }
      h1 {
        font-size: 45px;
        color: #ffffff;
        font-family: $strong;
        text-align: center;
        margin-bottom: 8px;
        @include responsive(mobile) {
          text-align: center;
          font-size: 30px;
        }
        .codeLogo {
          font-size: 45px;

          color: #f9a826;
          @include responsive(mobile) {
            font-size: 20px;
          }
        }
      }
      button {
        background: #ff6584;
        font-family: $light;
        color: white;
        text-transform: uppercase;
        margin-top: 20px;
        padding: 12px 15px;
        width: 190px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        border: none;
        font-weight: bold;
      }
    }
  }
}
