@import "./variables";

.about-section {
  background: #00b0ff;
  width: 100%;
  padding-top: 115px;
  padding-bottom: 190px;

  .about-container {
    width: 940px;
    margin: 0 auto;
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      div {
        align-self: start;
      }
      p {
        color: white;
        font-family: sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 20px;
        text-align: right;
        line-height: 20px;
      }
      h1 {
        font-size: 45px;
        color: white;
        font-family: $titles;
        text-align: center;
        font-weight: 900;
      }
      button {
        background: #ff6584;
        font-family: $light;
        color: white;
        text-transform: uppercase;
        margin-top: 20px;
        padding: 12px 15px;
        width: 190px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        border: none;
        font-weight: bold;
      }
    }
  }
}
