@import "./variables";
@import "./mixins.scss";

.contact-section {
  font-family: $light;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-attachment: fixed;
  background: rgba(235, 231, 231, 0.74);
  .contact-container {
    width: 940px;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    padding-top: 3rem;
    @include responsive(tablet) {
      width: 90%;
      display: flex;
      justify-content: center;
    }

    .contactForm {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0px 8px 8px 0px;
      color: black;

      .nameAndEmail {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        justify-content: space-between;
        .errorName {
          font-size: 12px;
          position: absolute;
          left: 0px;
          bottom: 45px;
          color: red;
          font-weight: bold;
          @include responsive(tablet) {
            bottom: 30px;
            left: 20px;
          }
          @include responsive(mobile) {
            bottom: 0px;
            left: 62px;
            top: 7px;
          }
        }
        .errorEmail {
          font-size: 12px;
          position: absolute;
          left: 405px;
          bottom: 45px;
          color: red;
          font-weight: bold;
          @include responsive(tablet) {
            bottom: 30px;
            left: 310px;
          }
          @include responsive(mobile) {
            bottom: 0px;
            left: 62px;
            top: 90px;
          }
        }
        .errorMessage {
          font-size: 12px;
          position: absolute;
          left: 0px;
          bottom: -65px;
          color: red;
          font-weight: bold;
          @include responsive(tablet) {
            top: 176px;
            left: 62px;
          }
        }
        @include responsive(mobile) {
          display: flex;
          flex-direction: column;
        }
      }
      .labelTitles {
        font-size: 15px;
        font-weight: 100;
        margin: 20px 0px;
        @include responsive(mobile) {
          margin: 0px;
          width: 100%;
          font-size: 13px;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        img {
          width: 205px;
          height: auto;
          @include responsive(mobile) {
            width: 160px;
          }
        }
        P {
          color: black;
        }
        h3 {
          font-family: $light;
          font-size: 12px;
          color: black;
        }
        input {
          background: white;
          border: 2px solid rgba(207, 200, 200, 0.795);
          width: 400px;
          padding: 10px;
          margin-bottom: 15px;
          color: black;
          @include responsive(tablet) {
            width: 250px;
            margin: 0px 20px;
          }
          @include responsive(mobile) {
            margin: 15px 0px;
          }
        }
        ::placeholder {
          color: grey;
          font-family: $light;
          text-transform: uppercase;
        }
        textarea {
          width: 800px;
          height: 200px;
          border: 2px solid rgba(207, 200, 200, 0.795);
          padding: 8px;
          @include responsive(tablet) {
            width: 540px;
            margin: 0px 0px;
          }
          @include responsive(mobile) {
            width: 250px;
            height: 100px;
            margin: 15px 0px;
          }
        }
        p {
          text-align: center;
          margin: 10px 0px;
          color: black;
          font-size: 30px;
          @include responsive(mobile) {
            font-size: 16px;
          }
        }
        button {
          background: #000000;
          font-family: $light;
          color: white;
          text-transform: uppercase;
          margin-top: 10px;
          padding: 12px 35px;
          width: 190px;
          font-size: 11px;
          line-height: 20px;
          text-align: center;
          border: none;
          font-weight: bold;
          letter-spacing: 2px;
          cursor: pointer;
          @include responsive(mobile) {
            width: 150px;
            padding: 5px;
            font-size: 10px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
