@import "./variables";
@import "./mixins.scss";

.header-section {
  background: black;
  width: 100%;
  background-attachment: fixed;
  .header-container {
    width: 1100px;
    margin: 0rem auto;
    background: black;
    padding-top: 120px;
    padding-bottom: 80px;

    background-attachment: fixed;

    @include responsive(tablet) {
      width: 100%;
    }
    @include responsive(mobile) {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;

      @include responsive(tablet) {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }
      display: flex;
      justify-content: space-between;
      img {
        width: 100%;
        height: auto;

        @include responsive(tablet) {
          width: 600px;
        }
        @include responsive(mobile) {
          width: 95%;
          margin-top: 20px;
        }
      }
      div {
        align-self: end;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        width: 100%;
        @include responsive(tablet) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      p {
        color: #ffffff;
        font-family: $titles;
        font-size: 17px;
        letter-spacing: 2px;
        margin: 2px 0px;
        @include responsive(tablet) {
          width: 70%;
          text-align: center;
          margin-top: 20px;
        }
        @include responsive(mobile) {
          font-size: 13px;
          text-align: center;
          width: 90%;
        }
      }
      h3 {
        font-size: 55px;
        color: #ffffff;
        font-family: $titles;
        margin: 10px 0px;
        line-height: 65px;
        letter-spacing: 3.5px;

        @include responsive(tablet) {
          margin-top: 10px;
          font-size: 40px;
          width: 100%;
          text-align: center;
        }
        @include responsive(mobile) {
          margin-bottom: 0px;
          padding: 0px 8px;
        }

        .codeLogo {
          font-size: 45px;

          color: #f9a826;
          margin-left: 10px;
          @include responsive(mobile) {
            font-size: 20px;
          }
        }

        @include responsive(mobile) {
          line-height: 35px;
          text-align: center;
          margin-top: 10px;
          font-size: 30px;
        }
      }
      button {
        background: #ff6584;
        font-family: $light;
        color: white;
        text-transform: uppercase;
        margin-top: 32px;
        padding: 18px 35px;
        width: 220px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        border: none;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;
        @include responsive(mobile) {
          width: 150px;
          padding: 10px;
          font-size: 12px;
          margin-top: 20px;
        }
      }
    }
  }
}
