@import "./variables";
@import "./mixins.scss";

.moreInfo-section {
  background: -webkit-Radial-gradient(
    ellipse at bottom right,
    #174bf4,
    #0e0512
  );
  background: Radial-gradient(ellipse at bottom right, #174bf4, #0e0512);
  width: 100%;
  padding-top: 170px;
  padding-bottom: 170px;
  height: 100%;
  color: white;
  font-family: $light;
  @include responsive(mobile) {
    padding-top: 80px;
    padding-bottom: 20px;
  }

  .moreInfo-container {
    width: 1100px;
    margin: 0 auto;
    @include responsive(tablet) {
      width: 100%;
    }
    img {
      width: 120px;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @include responsive(tablet) {
        grid-template-columns: 1fr;
      }

      div {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @include responsive(tablet) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      h1 {
        margin: 40px 0px;
        font-size: 23px;
        letter-spacing: 1px;
        @include responsive(mobile) {
          margin: 20px 0px;
        
        }
      }
      p {
        font-size: 13px;
        line-height: 20px;
        color: #9dc6d8;
        width: 80%;
        text-align: center;
        @include responsive(tablet) {
          width: 70%;
          text-align: center;
        }
        @include responsive(mobile) {
          margin-bottom: 3rem;
        }
      }
    }
  }
}
