@import "./variables";
@import "./mixins.scss";

.nav-section {
  background: ghostwhite;
  width: 100%;
  position: fixed;
 

  .nav-container {
    width: 1100px;
    margin: 0 auto;
    background: ghostwhite;
    color: #1a3066;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-family: $strong;
    position: static;

    @include responsive(tablet) {
      width: 100%;
      padding: 10px 30px;
    }
    @include responsive(mobile) {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      padding: 10px 0px;
      justify-content: space-around;
    }
    .mobileMenu {
      display: none;
      @include responsive(tablet) {
        display: block;
      }
      @include responsive(mobile) {
        display: block;
      }
    }

    h1 {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 900;
      color: #000000;
      @include responsive(tablet) {
        font-size: 21px;
        width: 100%;
        text-align: center;
      }
      @include responsive(mobile) {
       
        font-size: 16px;
        }
    }
    .nav-menu {
      display: flex;
      @include responsive(tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px;

      }
      @include responsive(tablet) {
        display: none;
      }
      @include responsive(mobile) {
        display: none;
      }
      ul {
        display: flex;
        @include responsive(mobile) {
          display: flex;
          flex-direction: column;
        }
        li {
          list-style: none;
          margin-top: 20px;
          margin-left: 20px;
          margin-bottom: 20px;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 14px;
          color: #546681;
          cursor: pointer;
          @include responsive(tablet) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
