@import "./variables";
@import "./mixins.scss";

.resume-section {
  background-color: rgba(233, 233, 233, 0.829);
  width: 100%;
  color:#1a3066;
  padding: 50px 0px;

  .resume-container {
    width: 1100px;
    margin: 0 auto;
    padding: 40px 0px;
    @include responsive(tablet) {
      width: 90%;
      padding: 40px 20px;
    }
    @include responsive(mobile) {
      padding: 0px;
    }
    .titles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 18px;
      h2 {
        padding-left: 10px;
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        width: 178px;
        font-family: $light;
        text-transform: uppercase;
        background: #1a3066;
        border-radius: 7px;
        font-size: 22px;
        color: white;
        letter-spacing: 1.5px;
        @include responsive(mobile) {
          font-size: 16px;
          width: 100%;
        }
      }
    }
    .info {
      @include responsive(mobile) {
        font-size: 16px;
        width: 100%;
      }
      p {
        margin-bottom: 2px;
        font-family: $light;
        font-size: 13px;
        text-align: left;
        line-height: 20px;
        @include responsive(mobile) {
          font-size: 11px;
        }
      }
      
      .infoSection {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        span {
          background: #1a3066;
          margin-left: 15px;

          p {
            font-size: 16px;
            padding-top: 2px;
            padding-left: 8px;
            padding-right: 10px;
            background:#1a3066;
            color: white;
            @include responsive(mobile) {
              font-size: 14px;
              width: 100px;
            }
          }
        }
        p {
          font-size: 14px;
          text-align: left;
          font-family: $light;
          font-weight: bold;
          @include responsive(mobile) {
            font-size: 12px;
            width: 100%;
          }
        }
      }
    }
  }
  h2 {
    text-align: center;
    font-size: 16px;
    font-family: $light;
    margin-top: 50px;
    a {
      text-decoration: none;
    }
  }
}
