@import "./variables";
@import "./mixins.scss";

.resume-section {
  background: #292828;
  width: 100%;
  color: rgb(0, 0, 0);
  padding-top: 95px;
  padding-bottom: 60px;
  background-color: #5078f2;
  background-image: linear-gradient(315deg, #5078f2 0%, #efe9f4 74%);
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);

  .resume-container {
    width: 1100px;
    margin: 0 auto;
    padding: 40px 40px;
    border-radius: 20px;
    background: rgba(248, 248, 255, 0.425);

    @include responsive(tablet) {
      width: 90%;
      padding: 40px 20px;
    }
    @include responsive(mobile) {
      padding: 30px 10px;
      width: 97%;
    }
    .titles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 18px;
      h2 {
        padding-left: 10px;
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        width: 178px;
        font-family: $light;
        text-transform: uppercase;
        background: #cf556c;
        font-size: 22px;
        color: white;
        letter-spacing: 1.5px;
        @include responsive(mobile) {
          font-size: 16px;
          width: 100%;
        }
      }
    }
    .info {
      @include responsive(mobile) {
        font-size: 16px;
        width: 100%;
      }
      p {
        margin-bottom: 2px;
        font-family: $light;
        font-size: 13.5px;
        text-align: left;
        line-height: 23px;
        @include responsive(tablet) {
          font-size: 13px;
        }
        @include responsive(mobile) {
          font-size: 12px;
        }
      }

      .infoSection {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        span {
          background: #cf556c;
          margin-left: 15px;

          p {
            font-size: 15px;
            padding-top: 2px;
            padding-left: 8px;
            padding-right: 10px;
            background: #cf556c;
            color: white;
            @include responsive(tablet) {
              font-size: 14px;
            }
            @include responsive(mobile) {
              font-size: 14px;
              width: 100px;
            }
          }
        }
        p {
          font-size: 15px;
          text-align: left;
          font-family: $light;
          font-weight: bold;
          @include responsive(tablet) {
            font-size: 13px;
          }
          @include responsive(mobile) {
            font-size: 12px;
            width: 100%;
          }
        }
      }
    }
  }
  h2 {
    font-size: 14px;
    font-family: $light;
    background: #cf556c;
    width: 100px;
    margin-right: 30px;
  }
  .pdfTitle {
    text-align: center;
    font-size: 14px;
    font-family: $light;
    background: #cf556c;
    width: 200px;
    margin: 0px auto;
    margin-top: 50px;
    padding: 9px 10px;
    border-radius: 30px;
   

    @include responsive(mobile) {
      font-size: 12px;
      width: 100%;
    }
    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
  }
}
